
/****************************************
****** COMPILED CSS below *************/

#in {
  height: 260px;
  padding: 10px;
  width: 100%;
  margin-top: 30px;
  resize: vertical;
}

#out {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 20px;
  margin-top: 30px;
}
