
/********** SASS VERSION ***************
.row
  width: 100%

#in
  height: 260px
  width: 95%
  padding: 10px
  margin: 20px

#out
  border: 1px solid #999
  border-radius: 3px
  padding: 5px 20px
  margin: 20px


****************************************
****** COMPILED CSS below *************/

.row {
  width: 100%;
}

#in {
  height: 260px;
  width: 95%;
  padding: 10px;
  margin: 20px;
}

#out {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 20px;
  margin: 20px;
}
