
/********** SASS VERSION ***************/
@import url(https://fonts.googleapis.com/css?family=Roboto)

body
  font-family: "Roboto", sans
  background-color: #BDC3C7

td, th
  text-align: center

thead
  tr
    background-color: #eee

tr:nth-child(2n)
  background-color: #eee

td
  vertical-align: middle !important
  img
    height: 40px

$clickableColor : #337ab7
$clickableActiveColor: #d9534f

.clickable
  color:  $clickableColor
  cursor: pointer
  &:hover
    color: darken($clickableColor, 10%)

.sortedby
  color: $clickableActiveColor
  &:hover
    color: darken($clickableActiveColor, 10%)
  &::after
    content: " \25bc"

.header
  text-align: center
  padding: 30px 0
  h1
    line-height: 50px

.info
  text-align: center
  font-size: 1.2em
  font-weight: bold
  margin-bottom: 10px

  
