

/***************************************
****** COMPILED CSS below *************/
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

body {
  background-color: #96c3e7;
  font-family: "Comfortaa", sans;
  color: #1a1a1a;
}

.board {
  height: 360px;
  width: 540px;
  position: relative;
  margin: auto;
}

.board-panel {
  position: relative;
  top: 25px;
}

.display-panel {
  width: 600px;
  height: 580px;
  border: 1px solid;
  position: relative;
  margin: auto;
  border-radius: 30px;
  top: 40px;
}
.display-panel h1 {
  font-size: 28px;
  text-align: center;
  padding-top: 20px;
}

.cell {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: #333;
  border: 1px solid #96c3e7;
  border-radius: 15%;
  transition: background-color 0.1s;
}

.cell.clickable {
  cursor: pointer;
}
.cell.clickable:hover {
  background-color: #737373;
}

.young {
  background-color: #F4D03F;
}

.young.clickable {
  cursor: pointer;
}
.young.clickable:hover {
  background-color: #fbeeb8;
}

.old {
  background-color: #F89406;
}

.old.clickable {
  cursor: pointer;
}
.old.clickable:hover {
  background-color: #fcc982;
}

.boardrow {
  height: 18px;
}

.button-panel {
  width: 420px;
  position: relative;
  margin: auto;
  top: 20px;
}

.btn {
  height: 18px;
  width: 98px;
  font-size: 20px;
  border: 1px solid;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.1s;
}
.btn:hover {
  background-color: #bfdbf1;
}
.btn:active {
  background-color: #e9f2fa;
}

.out {
  text-align: center;
  padding-top: 20px;
}

/* Scaling for Mobile */
@media screen and (max-width: 600px) {
  .display-panel {
    top: 40px;
    -moz-transform: scale(0.55);
    -ms-transform: scale(0.55);
    -o-transform: scale(0.55);
    -webkit-transform: scale(0.55);
    transform: scale(0.55);
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    left: 50%;
    margin-left: -166px;
  }
}
